@{
    
}
@section scripts {
    <script>
        var app = angular.module("myApp", []);



        app.controller("myCtrl",function ($scope) {
            $scope.pos = 0;
            $scope.message = "";
            angular.element(window).on('keydown', function (e) {
                switch (e.keyCode) {
                    case 37:
                        $scope.left();
                        break;
                    case 39:
                        $scope.right();
                        break;
                }
                $scope.$digest();
            });

            $scope.left = function() {
                if ($scope.pos <= 0) {
                    $scope.pos = 180;
                } else {
                    $scope.pos = $scope.pos - 1;
                }
                $scope.update();
            }
            $scope.right = function() {
                if ($scope.pos >= 180) {
                    $scope.pos = 0;
                } else {
                    $scope.pos = $scope.pos + 1;
                }
                
            }
            $scope.update = function () {
                $.get('/servoU.axd?i=' + $scope.pos, function (d) { });     
            }
            $scope.$watch('pos', function (a, b) {
                $scope.update();
            });
        }); 
            
        

    </script>
}

<div class="container" ng-app="myApp">
    <div class="row">
        <div class="col-xs-12">
            <h1>Arduino Servo Test</h1>

        </div>
    </div>    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="well" ng-controller="myCtrl" style="text-align:center;">
                <h4>Arduino Servo Test</h4>
                <button class="btn" id="left" ng-click="left()">Left</button>
                <input type="number" min="-180" max="180" id="pos" step=".1" ng-model="pos" />
                <button class="btn" id="right" ng-click="right()">Right</button>
                <p>
                    Can be a number between 0 and 180. The left and right keys on an keyboard will increment.
                </p>
                
            </div>
        </div>
    </div>
    
</div>


